services:
  caddy:
    build:
      context: .
      dockerfile: data/caddy/Dockerfile.caddy
    container_name: caddy
    restart: unless-stopped
    command: ["caddy", "run", "--config", "/etc/Caddyfile", "--adapter", "caddyfile"]
    environment:
      - CF_API_TOKEN=${CF_API_TOKEN}
      - ZEROSSL_EAB_KEY_ID=${ZEROSSL_EAB_KEY_ID}
      - ZEROSSL_EAB_HMAC_KEY=${ZEROSSL_EAB_HMAC_KEY}
      - DOMAIN=${DOMAIN}
      - EMAIL=${EMAIL}
    volumes:
      - ./config/caddy/Caddyfile:/etc/Caddyfile:z
      - ./data/caddy/public:/var/www/html:z
      - ./data/caddy/.caddy:/root/.caddy:z
    networks:
      neunexus:
        ipv4_address: 192.168.0.88 # 요청하신 고정 IP

  authelia:
    image: docker.io/authelia/authelia:latest
    container_name: authelia
    restart: unless-stopped
    volumes:
      - ./config/authelia:/config:z
      - ./data/authelia/secrets:/secrets:z
    environment:
      - AUTHELIA_STORAGE_POSTGRES_DATABASE=${DB_NAME}
      - AUTHELIA_STORAGE_POSTGRES_USERNAME=${DB_USER}
      - AUTHELIA_STORAGE_POSTGRES_ADDRESS=tcp://postgres_db:5432
      - "AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/secrets/JWT_SECRET"
      - "AUTHELIA_SESSION_SECRET_FILE=/secrets/SESSION_SECRET"
      - "AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE=/secrets/STORAGE_PASSWORD"
      - "AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/secrets/STORAGE_ENCRYPTION_KEY"
    networks:
      - neunexus # IP를 명시하지 않으면 자동 할당됩니다.

  headscale:
    image: docker.io/headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped
    volumes:
      - ./config/headscale:/etc/headscale:z
      - ./data/headscale:/var/lib/headscale:z
      - ./data/headscale/run:/var/run/headscale:z
    command: serve
    healthcheck:
      test: ["CMD", "headscale", "health"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - neunexus # 자동 할당

networks:
  neunexus: # 네트워크 이름을 외부 생성된 이름과 일치시킵니다.
    external: true
    name: neunexus