services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true" 
      - "--log.level=DEBUG"
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
      - "80:80/udp"
      - "8077:8080" # 대시보드용
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./config/traefik/traefik.yml:/etc/traefik/traefik.yml:z
      - ./config/traefik/acme.json:/acme.json:z
      - ./config/traefik/dynamic:/etc/traefik/dynamic:z
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      - "DOCKER_API_VERSION=1.52"
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
    networks:
      - neunexus
      - traefik-net

  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    restart: unless-stopped
    volumes:
      - ./config/authelia:/config:z
      - ./data/authelia/secrets:/secrets:z
    environment:
      - "AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/secrets/JWT_SECRET"
      - "AUTHELIA_SESSION_SECRET_FILE=/secrets/SESSION_SECRET"
      - "AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE=/secrets/STORAGE_PASSWORD"
      - "AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/secrets/STORAGE_ENCRYPTION_KEY"
    expose:
      - 9091
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authelia.rule=Host(`auth.${DOMAIN}`) || Host(`public.${DOMAIN}`) || Host(`secure.${DOMAIN}`)"
      - "traefik.http.routers.authelia.entrypoints=websecure"
      - "traefik.http.routers.authelia.tls.certresolver=cloudflare"
      - "traefik.http.services.authelia.loadbalancer.server.port=9091"
      - "traefik.docker.network=neunexus"
    networks:
      - neunexus # IP를 명시하지 않으면 자동 할당됩니다.
      - traefik-net

  headscale:
    image: docker.io/headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped
    volumes:
      - ./config/headscale:/etc/headscale:z
      - ./data/headscale:/var/lib/headscale:z
      - ./data/headscale/run:/var/run/headscale:z
    command: serve
    healthcheck:
      test: ["CMD", "headscale", "health"]
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.headscale.rule=Host(`vpn.${DOMAIN}`)"
      - "traefik.http.routers.headscale.entrypoints=websecure"
      - "traefik.http.routers.headscale.tls.certresolver=cloudflare"
      - "traefik.http.services.headscale.loadbalancer.server.port=8080"
      - "traefik.docker.network=neunexus"
    networks:
      - neunexus # 자동 할당
      - traefik-net

networks:
  neunexus: # 네트워크 이름을 외부 생성된 이름과 일치시킵니다.
    external: true
    name: neunexus
  traefik-net:
    external: true